.footer {
  padding: 60px 40px;
  background: #f2f2f2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.footer h3 {
  font-size: 22px;
  font-weight: 700;
}

.footer p {
  margin-top: 8px;
  color: #666;
}

.footer h4 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer li {
  color: #555;
  margin-bottom: 8px;
  cursor: pointer;
}

.footer li:hover {
  color: black;
}
